@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Knewave&family=Nothing+You+Could+Do&family=Silkscreen&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  background-color: #eee;
}


body {
  margin: 0;
}

#app {

}

.container {
  /* overflow-y: scroll;  */
  /* height: 100vh; */
}

.scroll-container {
  display: grid;
  grid-template-rows: 100vh 100vh;
  height: calc(100vh * 3); 
  width: 100vw;
  position: relative;
  background-color: #eee;
  align-items: center;
}

.title-screen {
  display: grid;
  background-image: url('./images/milk-tea.jpg');
  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100vh;
  font-size: 200px;
  place-items: center;
  font-family: 'Knewave', cursive;
}

img {
  justify-self: center;
  max-width: 70%;
}

.section {
  height: 0vh; 
  position: sticky; 
  /* top: 0; */

  background: url('./images/milk-tea.jpg');
  background-size: cover;
  background-position: center;
  
}

.section2 {
  height: 100vh;
  background-color: #eee;
  position: sticky;
}

.text {
  display: grid;
  place-items: center;
  /* position: sticky; */
  height: 100vh;
  top: 0;
  color: #eee;
  font-size: 4rem;
}



